body {
    background-image: url(../images/train.jpg);
    opacity: 0.7;
    background-color: rgba(0, 255, 188, 0.5);
    background-position: center ;
    background-image: no-repeat;
    background-size: cover;
    font-weight: 900;
    color: black;
   
  }
#trainTable {
    background: whitesmoke;
}
.col-md-3 {
    float: right;
}
  
